# Python Overview

## variables

In [1]:
print("Hello World, welcome to Pandas")

Hello World, welcome to Pandas

In [2]:
print("The name is {} with age {}".format("Jack Ryan", 45))

The name is Jack Ryan with age 45

In [3]:
data = "Hello Pandas"

In [4]:
print(type(data))

<class 'str'>

In [5]:
test = 30

In [6]:
print(type(test))

<class 'int'>

## strings

In [7]:
x = "Hello Pandas"

In [8]:
print(x)

Hello Pandas

In [9]:
y = "Python Version : 3.2"

In [10]:
print(y)

Python Version : 3.2

In [11]:
z = ' 172, "North street" Block #3'

In [12]:
print(z)

 172, "North street" Block #3

## string operations

In [13]:
data = "Hello Pandas"

data.<Tab>

In [14]:
# print the length of string
print(len(data))

12

In [15]:
# converts the characters inthe string to lower case
print(data.lower())

hello pandas

In [16]:
# converts the characters in the string to upper case
print(data.upper())

HELLO PANDAS

In [17]:
# is first character of string starting with Capital letter
print(data.istitle())

True

## working with Integer & Float

In [18]:
a = 30
b = 30

In [19]:
a + b  # Addition

60

In [20]:
a / b  # Division

1.0

In [21]:
x = 3.14  # (pi)
y = 3  # (r)
# calculating the
# area of circle Pi*r*r ( pi*r square)
print("Aread of circle :", x * y * y)

Aread of circle : 28.259999999999998

## lists

In [22]:
# Hetrogenous elements
var1 = ["cricket", "football", 1995, 2018, 2019, 8.5, 4.0]
# Homogenous elements
var2 = [10, 20, 30, 40, 50]
# Homogenous elements
var3 = [12.0, 14.6, 13.8, 19.6]

In [23]:
# Length of the list starting with index = 0
print(len(var1))

7

In [24]:
# Slicing the list  to get first 3 elements
print(var1[0:3])

['cricket', 'football', 1995]

In [25]:
# Negative indexing
print(var1[-6:-2])

['football', 1995, 2018, 2019]

In [26]:
# Updating list adding an element to the begining of array
var1[0] = "Baseball"

In [27]:
var1

['Baseball', 'football', 1995, 2018, 2019, 8.5, 4.0]

In [28]:
del [var1[-1]]  # Delete the last elemet in the list

In [29]:
var1

['Baseball', 'football', 1995, 2018, 2019, 8.5]

## tuple

In [30]:
test1 = ("Hello", "Pandas", 10, 30, "Python", 6.2, 9.8)

In [31]:
print(len(test1))

7

In [32]:
print(test1[0:3])

('Hello', 'Pandas', 10)

In [33]:
print(test1[-4:-1])

(30, 'Python', 6.2)

### updating and deleting lists

In [34]:
test1[2] = "Numpy" # updating tuple by adding an element to the index=2

TypeError: 'tuple' object does not support item assignment

In [ ]:
del(test1[3]) # updating tuple by adding an element to the index=2

## dictionary

In [ ]:
# Declaring  a dictionary object
sports = {"Dhoni": "Cricket", "Messi": "Foot ball", "Ussain bolt": "Athelete"}

In [ ]:
# length of elements in the dictionary
print(len(sports))

In [ ]:
# get all key elemets from dictionary
print(sports.keys())

In [ ]:
# get all value  elements from dictionary
print(sports.values())

In [ ]:
sports["Dhoni"]  # display the value of 'Dhoni'

In [ ]:
# Iterating through dictionary
for key, value in sports.items():
    print(key, "---> ", sports[key])

### updating and deleting Dictionary

In [ ]:
# Update an element in dictionary
sports["Anand"] = "Chess"

In [ ]:
sports

In [ ]:
# Delete an element from dictionary
del sports["Messi"]

In [ ]:
sports

## sets

In [ ]:
# Declaring a set
my_set = {1, 2, 3}

In [ ]:
# Declaring a set with homogenous data types
my_set = {1.0, "Hello", (1, 2, 3)}

In [ ]:
my_set

In [ ]:
# Declaring a set with duplicate elements
my_set = {1, 2, 3, 4, 3, 2}

In [ ]:
my_set

In [ ]:
my_set = {1, 3}

In [ ]:
# Adding elements to the set
my_set.add(2)

In [ ]:
my_set

In [ ]:
my_set = {1, 3, 4, 5, 6}

In [ ]:
# Delete elements from the set
my_set.discard(4)

In [ ]:
my_set

In [ ]:
### Operations on Sets

In [ ]:
A = {1, 2, 3, 4, 5}

In [ ]:
B = {4, 5, 6, 7, 8}

In [ ]:
# Combining both sets and removing duplicate elements
A.union(B)

In [ ]:
# Displays common elements in both A and B
A.intersection(B)

In [ ]:
# Displays unique elements of A
A - B

In [ ]:
# Display unique elements in both A and B
A.symmetric_difference(B)

In [ ]:
# Display unique elements in both A and B
B.symmetric_difference(A)

In [ ]:
# Adding a list to the set
my_set = {1, 2, [3,4]}

In [ ]:
# Adding a dictionary to the set
my_set = {1, 2, {"three":3, "four": 4}}

In [ ]:
# Fetching the element using index
my_set[0]

## Functions

def <function name>(parameters):
    "doc_string  about the function"     
    <code block>
    return expression

### required Arguments

In [ ]:
def printme(var_str):
    """ This function prints the passed string value to the function"""
    return var_str

In [ ]:
printme("Hello welcome to Python")

In [ ]:
printme()

### keyword Arguments

In [ ]:
def printinfo(name, age):
    """ This signature prints the age and name """
    print("Name:", name)
    print("Age:", age)
    print(age, name)

In [ ]:
printinfo(age=39, name="James")

### default arguments

In [ ]:
def defargs(name, age=39):
    """ This function calls the default parameters unless specified"""
    print("Name: ", name)
    print("Age:", age)
    print(name, age)

In [ ]:
defargs("Modi", 67)

In [ ]:
defargs("Shekar")

### variable length arguments

In [ ]:
def printvariablelength(arg1, *vartuple):
    """ Print the variable length arguments"""
    print("Output is")
    print(arg1)
    print("Arguments lists are ")
    for var in vartuple:
        print(var)

In [ ]:
printvariablelength(10, "shekar", "ravi", "dixit", 100, 30)

## Lambda

In [ ]:
lambdatest = lambda x: x * x * x

In [ ]:
lambdatest(5)

##  List comprehensions

In [ ]:
nums = [2, 3, 4, 5, 6, 7, 8]

In [ ]:
new_list = []
for i in nums:
    new_list.append(i * i)
print(new_list)

In [ ]:
# using  list comprehension
new_list1 = [i * i for i in nums]
print(new_list1)

In [ ]:
# Find the even  numbers using the list comprehension

In [ ]:
nums

In [ ]:
new_even = [n for n in nums if n % 2 == 0]
new_even

## Functional Programming

### map

In [ ]:
nums = [10, 20, 40, 39, 68, 17, 66]

In [ ]:
def squares(i):
    """ return the squares of each element of the list"""
    return i * i

In [ ]:
my_squares = map(squares, nums)
my_squares
list(my_squares)

In [ ]:
# Using Lambda function
my_new_squares = map(lambda n: n * n, nums)
list(my_new_squares)

## filter

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# Find the odd numbers
my_list_filter = filter(lambda n: n % 2 != 0, numbers)
my_list_filter
list(my_list_filter)

## reduce

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# Find the sum of all elements in the array
from functools import reduce

my_list_reduce = reduce(lambda x, y: x + y, numbers)
my_list_reduce

## Date Time

In [ ]:
import datetime

In [ ]:
dt = datetime.datetime.now()

In [ ]:
print(dt)

In [ ]:
print("Year :", dt.year)
print("Month :", dt.month)
print("Day :", dt.day)
print("Hour :", dt.hour)
print("Minutes :", dt.minute)
print("Second :", dt.second)
print("Microseconds :", dt.microsecond)

In [ ]:
print(dt.date())

In [ ]:
print(dt.time())

## constructing date and time

In [ ]:
import datetime

In [ ]:
dt = datetime.datetime(2020, 12, 5, 10, 35, 45, 452)

In [ ]:
print(dt)

In [ ]:
print(dt.date())

In [ ]:
print(dt.time())

### TimeDelta

In [ ]:
dt_now = datetime.datetime.today()

In [ ]:
# current datetime
print(dt_now)

In [ ]:
# Adding a delta of 7 days
dt_plus_seven_days = datetime.timedelta(days=7)

In [ ]:
print(dt_plus_seven_days)

In [ ]:
# Add 7 days to currnt datetime
print(dt_now + dt_plus_seven_days)

In [ ]:
# Subtract 7 days to currnt datetime
print(dt_now - dt_plus_seven_days)